# Github Data data cleaning

In [55]:
import pandas as pd

In [56]:
df_climb = pd.read_csv('Climbharder #V3 (Responses) - Form responses 1.csv')

In [57]:
df_climb.head()

,Timestamp,Sex,Height (cm),Weight (KG),Arm Span (cm),How long have you been climbing for?,Where do you climb?,Hardest V Grade ever climbed,Hardest V Grade climbed in the Last 3 months,The V grade you can send 90-100% of routes,...,Frequency of Endurance training sesions per week,Endurance training,General Strength Training frequency per week,Time spent General strength training (hours),Type of Strength training,"Other activities (ie yoga, cardio)",Max pull up reps,5 rep max weighted pull ups,max push ups reps,max L-sit time
0,29/01/2017 20:12:46,Male,173,77,178,4.5 - 5 years,Indoor and outdoor climbing,V8,V8,V6,...,1,4x4,3,4,"Antagonists, Legs, Core",NaN,15,29kg,40,30
1,29/01/2017 20:17:27,Male,180,81,180,3 - 3.5 years,Indoor Climbing only,V3,V3,V1,...,1,Laps of routes,2,2,"Antagonists, Legs, Core, Upper body pulling, U...","Yoga, stretching",11,5kg,24,15sec
2,29/01/2017 20:28:14,Male,178,67,175,.5 - 1 years,Indoor and outdoor climbing,V7,V6,V5,...,2,"4x4, ARC, route climbing intervals",3,2,"Antagonists, Core, Upper body pulling, Upper b...",soccer,17,20 kg,NaN,NaN
3,29/01/2017 20:51:08,Male,173,70,178,9 - 9.5 years,Indoor and outdoor climbing,V5,V4,V3,...,1,"Laps of routes, route climbing intervals",0,0,"Antagonists, Legs, Core, No other strength tra...",NaN,8,NaN,30,NaN
4,29/01/2017 21:03:19,Male,184,84,197,6.5 - 7 years,Indoor and outdoor climbing,V10,V10,V7,...,2,"4x4, Max moves, threshold intervals",2,1,"Core, Upper body pushing",NaN,NaN,NaN,NaN,NaN

In [58]:
df_climb.columns

Index(['Timestamp', 'Sex', 'Height (cm)', 'Weight (KG)', 'Arm Span (cm)',
       'How long have you been climbing for?', 'Where do you climb?',
       'Hardest V Grade ever climbed ',
       'Hardest V Grade climbed in the Last 3 months',
       'The V grade you can send 90-100% of routes ',
       'Hardest Route grade climbed (Ewbank grade) ',
       'Hardest route climbed last 3 months (ewbank)',
       'Route grade you can send 90-100% of climbs',
       'Frequency of climbing sessions per week',
       'Average hours climbing per week (not including training)',
       'Average hours Training for climbing per week ',
       'Hangboard Frequency per week ', 'Hangboard grips used ',
       'Style of Hangboarding chosen ',
       'Max Weight hangboard 18mm edge - Half crimp (KG)  (10 seconds) (added weight only)',
       'Max Weight hangboard 18mm edge - open crimp (KG) (10 seconds)  (added weight only)',
       'Min Edge used (mm, +kg if weight added ) - Half Crimp (10 seconds)',
       'Min Edge used (mm, +kg if weight added) - Open crimp (10 seconds) ',
       'Campus Board frequency per week ',
       'Campus Board time per week (hours)',
       'Frequency of Endurance training sesions per week',
       'Endurance training ', 'General Strength Training frequency per week ',
       'Time spent General strength training (hours)',
       'Type of Strength training', 'Other activities (ie yoga, cardio)',
       'Max pull up reps', '5 rep max weighted pull ups', 'max push ups reps',
       'max L-sit time '],
      dtype='object')

In [59]:
#Drop the unusable columns
df_climb.drop(['Timestamp', 'Where do you climb?','Hardest V Grade climbed in the Last 3 months',
       'The V grade you can send 90-100% of routes ',
       'Hardest Route grade climbed (Ewbank grade) ',
       'Hardest route climbed last 3 months (ewbank)',
       'Route grade you can send 90-100% of climbs',
       'Frequency of climbing sessions per week',
       'Average hours climbing per week (not including training)',
       'Average hours Training for climbing per week ',
       'Hangboard Frequency per week ', 'Hangboard grips used ',
       'Style of Hangboarding chosen ',
       'Max Weight hangboard 18mm edge - Half crimp (KG)  (10 seconds) (added weight only)',
       'Max Weight hangboard 18mm edge - open crimp (KG) (10 seconds)  (added weight only)',
       'Min Edge used (mm, +kg if weight added ) - Half Crimp (10 seconds)',
       'Min Edge used (mm, +kg if weight added) - Open crimp (10 seconds) ',
       'Campus Board frequency per week ',
       'Campus Board time per week (hours)',
       'Frequency of Endurance training sesions per week',
       'Endurance training ', 'General Strength Training frequency per week ',
       'Time spent General strength training (hours)',
       'Type of Strength training', 'Other activities (ie yoga, cardio)','max L-sit time ','5 rep max weighted pull ups',], inplace=True, axis=1)

In [60]:
df_climb

,Sex,Height (cm),Weight (KG),Arm Span (cm),How long have you been climbing for?,Hardest V Grade ever climbed,Max pull up reps,max push ups reps
0,Male,173,77,178,4.5 - 5 years,V8,15,40
1,Male,180,81,180,3 - 3.5 years,V3,11,24
2,Male,178,67,175,.5 - 1 years,V7,17,NaN
3,Male,173,70,178,9 - 9.5 years,V5,8,30
4,Male,184,84,197,6.5 - 7 years,V10,NaN,NaN
...,...,...,...,...,...,...,...,...
603,Female,159,54,161,More than 15 years,V9,8,NaN
604,Male,179,78,178,0 - .5 years,V3,NaN,NaN
605,Female,150,49,150,1 - 1.5 years,V3,NaN,NaN
606,Male,8,889,60,2.5 - 3 years,V4,NaN,NaN
607,Male,175,65,175,7 - 7.5 years,V5,25,40

In [61]:
#Drop NaN values from the entire dataframe
df_climb.dropna(inplace=True)

df_climb

,Sex,Height (cm),Weight (KG),Arm Span (cm),How long have you been climbing for?,Hardest V Grade ever climbed,Max pull up reps,max push ups reps
0,Male,173,77,178,4.5 - 5 years,V8,15,40
1,Male,180,81,180,3 - 3.5 years,V3,11,24
3,Male,173,70,178,9 - 9.5 years,V5,8,30
5,Male,176,67,170,5 - 5.5 years,V7,9,15
6,Male,184,75,181,1 - 1.5 years,V4,15,Don't know
...,...,...,...,...,...,...,...,...
593,Male,186,67,191,14 - 14.5 years,V9,17,30
594,Male,187,63,190,5.5 - 6 years,V8,21,20
596,Male,173,68,173,8 - 8.5 years,V12,25,30
598,Male,181,75,180,More than 15 years,V9,12,20
607,Male,175,65,175,7 - 7.5 years,V5,25,40

In [62]:
df_climb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 0 to 607
Data columns (total 8 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Sex                                   374 non-null    object
 1   Height (cm)                           374 non-null    object
 2   Weight (KG)                           374 non-null    object
 3   Arm Span (cm)                         374 non-null    object
 4   How long have you been climbing for?  374 non-null    object
 5   Hardest V Grade ever climbed          374 non-null    object
 6   Max pull up reps                      374 non-null    object
 7   max push ups reps                     374 non-null    object
dtypes: object(8)
memory usage: 26.3+ KB

In [64]:
df_climb.describe()

,Sex,Height (cm),Weight (KG),Arm Span (cm),How long have you been climbing for?,Hardest V Grade ever climbed,Max pull up reps,max push ups reps
count,374,374,374,374,374,374,374,374
unique,2,67,99,77,31,15,68,91
top,Male,180,70,178,.5 - 1 years,V6,15,30
freq,323,39,20,26,48,67,61,56

In [66]:
unique_values = df_climb['Height (cm)'].unique()

unique_values

array(['173', '180', '176', '184', '186', '178', '168', '163', '174',
       '188', '190', '177', '179', '165.1', '183', '167', '182', '170',
       '62', '193', '172.72', '182.8', '175', '165', '171', '160', '172',
       '185', '181', '191', '180.5', '153', '152', '1.68', '192', '167cm',
       '5 ft 8inches. Im amurican i dont know what centimeters are',
       '196', '159.38', '166', '182.88', '1.67', '159', '173 cm', '162.5',
       '189', '162', '177.8', '167.5', '190.5', '187.96', '155', '187',
       '169', '182.9', '177.5', '194', '1295', '175.26', '162.56',
       '167.64', '168.5', '164', '185.3', '110', '158.75', '201.1'],
      dtype=object)

In [1]:
#Drop the rows with specific values that do not work with the analysis
df_climb = df_climb.query("`Height (cm)` not in ['62','8','1.68','1.67','1295','173 cm','167cm''5 ft 8inches. Im amurican i dont know what centimeters are']")

In [68]:
unique_values = df_climb['Height (cm)'].unique()

unique_values

array(['173', '180', '176', '184', '186', '178', '168', '163', '174',
       '188', '190', '177', '179', '165.1', '183', '167', '182', '170',
       '193', '172.72', '182.8', '175', '165', '171', '160', '172', '185',
       '181', '191', '180.5', '153', '152', '192', '167cm',
       '5 ft 8inches. Im amurican i dont know what centimeters are',
       '196', '159.38', '166', '182.88', '159', '162.5', '189', '162',
       '177.8', '167.5', '190.5', '187.96', '155', '187', '169', '182.9',
       '177.5', '194', '175.26', '162.56', '167.64', '168.5', '164',
       '185.3', '110', '158.75', '201.1'], dtype=object)

In [69]:
#Drop NaN again
df_climb['Height (cm)'] = pd.to_numeric(df_climb['Height (cm)'], errors='coerce')
df_climb = df_climb.dropna(subset=['Height (cm)'])

/var/folders/dy/cmc63ww95y5cyss8rtx8vjp80000gn/T/ipykernel_3646/770352622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_climb['Height (cm)'] = pd.to_numeric(df_climb['Height (cm)'], errors='coerce')

In [71]:
unique_values = df_climb['Weight (KG)'].unique()

unique_values

array(['77', '81', '70', '67', '75', '88', '81.6', '54', '65', '100',
       '60', '82', '66', '69', '53', '79.5', '73', '86', '72', '64', '76',
       '70.3', '80', '79', '72.5', '79.3787', '59', '74', '66.5', '87',
       '52', '71', '68', '63', '78', '77.5', '84', '73.4', '58', '85',
       '93', '79.4', '50', '60.5', '65.8', '45.5', '51', '57', '48', '95',
       '62.6', '60.7', '83', '127', '51.7095', '72.5748', '53.5', '89',
       '51-53...', '55', '56', '65.7', '92', '158', '61.2', '68.7',
       '74.8', '81.6466', '132', '61', '47', '77.1', '77.5643', '66kg',
       '~55', '88.45', '113', '56.699', '63.5', '66.22', '62.5', '58.967',
       '65.5', '165', '175', '73.66', '78kg', '180', '60.328', '67.2',
       '68.3', '45', '62', '58.96'], dtype=object)

In [72]:
#Drop the rows with specific values that do not work with the analysis
df_climb = df_climb.query("`Weight (KG)` not in ['132','66kg','78kg','51-53...','158','180', '127','113','~55','165', '175']")

In [73]:
unique_values = df_climb['Weight (KG)'].unique()

unique_values

array(['77', '81', '70', '67', '75', '88', '81.6', '54', '65', '100',
       '60', '82', '66', '69', '53', '79.5', '73', '86', '72', '64', '76',
       '70.3', '80', '79', '72.5', '79.3787', '59', '74', '66.5', '87',
       '52', '71', '68', '63', '78', '77.5', '84', '73.4', '58', '85',
       '93', '79.4', '50', '60.5', '65.8', '45.5', '51', '57', '48', '95',
       '62.6', '60.7', '83', '51.7095', '72.5748', '53.5', '89', '55',
       '56', '65.7', '92', '61.2', '68.7', '74.8', '81.6466', '61', '47',
       '77.1', '77.5643', '88.45', '56.699', '63.5', '66.22', '62.5',
       '58.967', '65.5', '73.66', '60.328', '67.2', '68.3', '45', '62',
       '58.96'], dtype=object)

In [74]:
#Drop the rows with specific values that do not work with the analysis
df_climb['Weight (KG)'] = pd.to_numeric(df_climb['Weight (KG)'], errors='coerce')
df_climb = df_climb.dropna(subset=['Weight (KG)'])

In [76]:
unique_values = df_climb['Arm Span (cm)'].unique()

unique_values

array(['178', '180', '170', '181', '192', '165', '195.6', '177', '197',
       '165.1', '185', '190', '179', '173', '182', '187', '193', '176',
       '189', '85', '184', '183', '195', '163', '171', '200', '172',
       '194', '188', '190.5', '?', 'no idea', '172cm', '186', '110',
       '169', '155', 'Not sure', '150', '199', '191', 'unknown', '**',
       '60', '175', '170.7', '160', '201', '198', '196', '158', '162',
       '177.8', '167', '193.4', '198.12', 'Unknown', '157', '174',
       '195.58', '168', '76', '155 cm', '208', '0', '161', '162.56',
       '164', '185.928', '167.64', '80', '75'], dtype=object)

In [77]:
#Drop the rows with specific values that do not work with the analysis
df_climb = df_climb.query("`Arm Span (cm)` not in ['Not sure', 'unknown', '**', 'Unknown','0','155 cm','?', 'no idea', '172cm','60','80', '75','76','85']")

In [78]:
unique_values = df_climb['Arm Span (cm)'].unique()

unique_values

array(['178', '180', '170', '181', '192', '165', '195.6', '177', '197',
       '165.1', '185', '190', '179', '173', '182', '187', '193', '176',
       '189', '184', '183', '195', '163', '171', '200', '172', '194',
       '188', '190.5', '186', '110', '169', '155', '150', '199', '191',
       '175', '170.7', '160', '201', '198', '196', '158', '162', '177.8',
       '167', '193.4', '198.12', '157', '174', '195.58', '168', '208',
       '161', '162.56', '164', '185.928', '167.64'], dtype=object)

In [79]:
#Drop NaN values again
df_climb['Arm Span (cm)'] = pd.to_numeric(df_climb['Arm Span (cm)'], errors='coerce')
df_climb = df_climb.dropna(subset=['Arm Span (cm)'])

In [81]:
unique_values = df_climb['How long have you been climbing for?'].unique()

unique_values

array(['4.5 - 5 years', '3 - 3.5 years', '9 - 9.5 years', '5 - 5.5 years',
       '1 - 1.5 years', '1.5 - 2 years', '5.5 - 6 years', '3.5 - 4 years',
       '2.5 - 3 years', '7.5 - 8 years', '12 - 12.5 years',
       '0 - .5 years', '2 - 2.5 years', 'More than 15 years',
       '.5 - 1 years', '11.5 - 12 years', '14.5 - 15 years',
       '4 - 4.5 years', '10.5 - 11 years', '13 - 13.5 years',
       '10 - 10.5 years', '7 - 7.5 years', '6.5 - 7 years',
       '11 - 11.5 years', '8 - 8.5 years', '14 - 14.5 years',
       '9.5 - 10 years', '6 - 6.5 years', '8.5 - 9 years',
       '12.5 - 13 years', '13.5 - 14 years'], dtype=object)

In [82]:
#map the current experience values to a new number so it can be used in analysis
experience = {'0 - .5 years': 0,
              '.5 - 1 years': 0,
              '1 - 1.5 years': 1,
              '1.5 - 2 years': 1,
              '2 - 2.5 years': 1,
              '2.5 - 3 years': 1, 
              '3 - 3.5 years': 2, 
              '3.5 - 4 years': 2,
              '4 - 4.5 years': 2, 
              '4.5 - 5 years': 2,
              '5 - 5.5 years': 3,
              '5.5 - 6 years': 3,
              '6 - 6.5 years': 3, 
              '6.5 - 7 years': 3, 
              '7 - 7.5 years': 4,  
              '7.5 - 8 years': 4,
              '8 - 8.5 years': 4,
              '8.5 - 9 years': 4, 
              '9 - 9.5 years': 5,
              '9.5 - 10 years': 5,
              '10 - 10.5 years': 6,
              '10.5 - 11 years': 6,
              '11 - 11.5 years': 6, 
              '11.5 - 12 years': 6,
              '12 - 12.5 years': 6,
              '12.5 - 13 years': 6,
              '13 - 13.5 years': 6, 
              '13.5 - 14 years': 6, 
              '14 - 14.5 years': 6,
              '14.5 - 15 years': 6,
              'More than 15 years': 6
             }

df_climb.loc[:, 'How long have you been climbing for?'] = df_climb['How long have you been climbing for?'].map(experience)


df_climb

,Sex,Height (cm),Weight (KG),Arm Span (cm),How long have you been climbing for?,Hardest V Grade ever climbed,Max pull up reps,max push ups reps
0,Male,173.0,77.0,178.0,2,V8,15,40
1,Male,180.0,81.0,180.0,2,V3,11,24
3,Male,173.0,70.0,178.0,5,V5,8,30
5,Male,176.0,67.0,170.0,3,V7,9,15
6,Male,184.0,75.0,181.0,1,V4,15,Don't know
...,...,...,...,...,...,...,...,...
593,Male,186.0,67.0,191.0,6,V9,17,30
594,Male,187.0,63.0,190.0,3,V8,21,20
596,Male,173.0,68.0,173.0,4,V12,25,30
598,Male,181.0,75.0,180.0,6,V9,12,20
607,Male,175.0,65.0,175.0,4,V5,25,40

In [83]:
unique_values = df_climb['Sex'].unique()

unique_values

array(['Male', 'Female'], dtype=object)

In [84]:
#map the current gender values to a number instead of a string so it can be used in analysis
mapping = {'Male': 1, 'Female': 0}

df_climb.loc[:,'Sex'] = df_climb['Sex'].map(mapping).astype(int)

df_climb

,Sex,Height (cm),Weight (KG),Arm Span (cm),How long have you been climbing for?,Hardest V Grade ever climbed,Max pull up reps,max push ups reps
0,1,173.0,77.0,178.0,2,V8,15,40
1,1,180.0,81.0,180.0,2,V3,11,24
3,1,173.0,70.0,178.0,5,V5,8,30
5,1,176.0,67.0,170.0,3,V7,9,15
6,1,184.0,75.0,181.0,1,V4,15,Don't know
...,...,...,...,...,...,...,...,...
593,1,186.0,67.0,191.0,6,V9,17,30
594,1,187.0,63.0,190.0,3,V8,21,20
596,1,173.0,68.0,173.0,4,V12,25,30
598,1,181.0,75.0,180.0,6,V9,12,20
607,1,175.0,65.0,175.0,4,V5,25,40

In [85]:
unique_values = df_climb['Hardest V Grade ever climbed '].unique()

unique_values

array(['V8', 'V3', 'V5', 'V7', 'V4', 'V6', 'V11', 'V9', 'V10',
       "I don't boulder", 'V2', 'V13', 'V12', 'V14', 'V1'], dtype=object)

In [86]:
#Replace the current ' with a space to make mapping work
df_climb['Hardest V Grade ever climbed '] = df_climb['Hardest V Grade ever climbed '].str.replace("'", "")

In [87]:
#map the current V grade values to a new number so it can be used in analysis
mapping = {'V1':1,
           'V2':1,
           'V3': 2, 
           'V4': 3, 
           'V5': 4, 
           'V6': 5, 
           'V7': 6,
           'V8': 7,
           'V9': 8,
           'V10': 9,
           'V11': 10,
           'V12': 11,
           'V13':12,
           'V14': 13,
           'V15': 14, 
           'I dont boulder': 0
          }

df_climb.loc[:, 'Hardest V Grade ever climbed '] = df_climb['Hardest V Grade ever climbed '].map(mapping)


df_climb

,Sex,Height (cm),Weight (KG),Arm Span (cm),How long have you been climbing for?,Hardest V Grade ever climbed,Max pull up reps,max push ups reps
0,1,173.0,77.0,178.0,2,7,15,40
1,1,180.0,81.0,180.0,2,2,11,24
3,1,173.0,70.0,178.0,5,4,8,30
5,1,176.0,67.0,170.0,3,6,9,15
6,1,184.0,75.0,181.0,1,3,15,Don't know
...,...,...,...,...,...,...,...,...
593,1,186.0,67.0,191.0,6,8,17,30
594,1,187.0,63.0,190.0,3,7,21,20
596,1,173.0,68.0,173.0,4,11,25,30
598,1,181.0,75.0,180.0,6,8,12,20
607,1,175.0,65.0,175.0,4,4,25,40

In [88]:
unique_values = df_climb['Max pull up reps'].unique()

unique_values

array(['15', '11', '8', '9', '7', '12', '35', '10', '>20', '20', '5',
       '18', '13', '32', '25', '16', '6',
       "12?  I don't work on bodyweight pullups for reps.", '45', '1',
       '2', '3 x 8', '22', '15-20', '19', '14', '20?', '50', '30',
       'Unsure', '24', '15?', "don't know", '74', '0', '17',
       '5, maybe, not sure', '21', '15+', '31', 'approx 25', '4', '20+',
       '25ish', 'Not calculated before', '23', 'unsure', '3', '100',
       '8-12', '28', '12+ (max Untested)', '?', '80', '37', '55', '33',
       'Unknown ', '27',
       "The most I've gotten was 35ish but I don't usually try, it seems useless",
       'Idk', '70'], dtype=object)

In [89]:
#replace any ' with a space
df_climb['Max pull up reps'] = df_climb['Max pull up reps'].str.replace("'", "")

In [90]:
#remove values that will not work in analysis
df_climb = df_climb.query("`Max pull up reps` not in ['The most Ive gotten was 35ish but I dont usually try, it seems useless','Idk','Not calculated before','Unsure', '25ish','unsure', 'Unknown ','12?  I dont work on bodyweight pullups for reps.','?','12+ (max Untested)','>20','3 x 8','dont know','approx 25','5, maybe, not sure','15?','8-12','15-20','20+','20?']")

In [91]:
unique_values = df_climb['Max pull up reps'].unique()

unique_values

array(['15', '11', '8', '9', '7', '12', '35', '10', '20', '5', '18', '13',
       '32', '25', '16', '6', '45', '1', '2', '22', '19', '14', '50',
       '30', '24', '74', '0', '17', '21', '15+', '31', '4', '23', '3',
       '100', '28', '80', '37', '55', '33', '27', '70'], dtype=object)

In [92]:
df_climb

,Sex,Height (cm),Weight (KG),Arm Span (cm),How long have you been climbing for?,Hardest V Grade ever climbed,Max pull up reps,max push ups reps
0,1,173.0,77.0,178.0,2,7,15,40
1,1,180.0,81.0,180.0,2,2,11,24
3,1,173.0,70.0,178.0,5,4,8,30
5,1,176.0,67.0,170.0,3,6,9,15
6,1,184.0,75.0,181.0,1,3,15,Don't know
...,...,...,...,...,...,...,...,...
593,1,186.0,67.0,191.0,6,8,17,30
594,1,187.0,63.0,190.0,3,7,21,20
596,1,173.0,68.0,173.0,4,11,25,30
598,1,181.0,75.0,180.0,6,8,12,20
607,1,175.0,65.0,175.0,4,4,25,40

In [93]:
#remove values that will not work in analysis
df_climb['max push ups reps'] = df_climb['max push ups reps'].str.replace("'", "")

/var/folders/dy/cmc63ww95y5cyss8rtx8vjp80000gn/T/ipykernel_3646/3355531378.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_climb['max push ups reps'] = df_climb['max push ups reps'].str.replace("'", "")

In [94]:
unique_values = df_climb['max push ups reps'].unique()

unique_values

array(['40', '24', '30', '15', 'Dont know', '25', '120', '10', '20', '11',
       '50', '70', '22', '286', '115', '105', '30?', '112', '33', '45',
       '0', '35', '5', 'Not sure', '42', '12', '21', '80', 'lots?', '75',
       '46', '?', '100', '36', '55', 'Dunno', '65', 'No clue', '44', '60',
       '-', '14', '12 handstand p/u', '3', '28', 'Never tried this',
       '35-45', '31', '~30', '40ish', '18', '95', '30+', '69', '27', '4',
       'unknown', '118', '16', '40?', '52', '17', '10?', '43', '150',
       '85', '70/1min'], dtype=object)

In [95]:
#remove values that will not work in analysis
df_climb = df_climb.query("`max push ups reps` not in ['70/1min','No idea','Unknown','40?','10?','unknown','25+ (max untested)', '30+','~30','35-45','Never tried this', 'Not calculated before', 'unsure', '40ish','12 handstand p/u', '-', '50-60','No clue','Dunno','?','Not sure','lots?','30?','Dont know']")

In [96]:
unique_values = df_climb['max push ups reps'].unique()

unique_values

array(['40', '24', '30', '15', '25', '120', '10', '20', '11', '50', '70',
       '22', '286', '115', '105', '112', '33', '45', '0', '35', '5', '42',
       '12', '21', '80', '75', '46', '100', '36', '55', '65', '44', '60',
       '14', '3', '28', '31', '18', '95', '69', '27', '4', '118', '16',
       '52', '17', '43', '150', '85'], dtype=object)

In [97]:
df_climb

,Sex,Height (cm),Weight (KG),Arm Span (cm),How long have you been climbing for?,Hardest V Grade ever climbed,Max pull up reps,max push ups reps
0,1,173.0,77.0,178.0,2,7,15,40
1,1,180.0,81.0,180.0,2,2,11,24
3,1,173.0,70.0,178.0,5,4,8,30
5,1,176.0,67.0,170.0,3,6,9,15
7,1,186.0,88.0,192.0,1,4,9,25
...,...,...,...,...,...,...,...,...
593,1,186.0,67.0,191.0,6,8,17,30
594,1,187.0,63.0,190.0,3,7,21,20
596,1,173.0,68.0,173.0,4,11,25,30
598,1,181.0,75.0,180.0,6,8,12,20
607,1,175.0,65.0,175.0,4,4,25,40

In [98]:
#Save df as a csv for use later
df_climb.to_csv('climbing_data_GH.csv', index=False)